
.container{
  
  margin: auto;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.4);
  width: 70%;
  border-radius: 30px;
  margin-right: 20px;
  
}

h3{
  text-align: center;
}


.store {
  background-image: url(http://st.depositphotos.com/1005549/1892/v/450/depositphotos_18921979-Starry-wave-pink.jpg);
  overflow:auto ;
  padding: 30px;
  height: 400px;
  
 
}
.textmessage{
  justify-content: space-around;
  border-bottom-left-radius:20px ;
  padding: 9px;
  background: #8da19285;
  display: flex;
  
  
  
  
}
#inputId{
  padding: 12px;
  border-radius: 20px;
  width:680px;
  
  
  
}
#submit{
  padding: 12px;
  width: 150px;
  color: white;
  border-radius: 5px;
  background: rgb(55, 65, 194);
  
  
  
}  


fieldset{
  border-radius: 20px;
  padding: 5px;
  border: 1px solid rgb(71, 44, 224);
  display: flex;
  margin-left: 500px;
  max-width:max-content;
  
  margin-top: 10px;
  
 
  
} 

.fa-pencil-square-o, .fa-quote-left{
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: flex-end;
  
} 
.fa-pencil-square-o{
  
  margin-left: 15px;
}


#chat-title{
    background: rgb(192, 191, 191);
    padding: 10px;
    border-radius: 20px;
}

#chat-title{
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  grid-area:chat-title;
  color:blue;
  font-weight: bold;
  font-size: 1.0rem;
  border-radius: 0 10px 0 0;
  box-shadow:0 1px 3px -1px rgba(0.0.0.0.75);
  padding: 16px;
}

#chat-title .img-profile{
  background: rgb(206, 69, 5);
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:3px solid rgb(60, 156, 4);
  

}

.right .icon {
  display: inline-block;
  width: 35px;
  margin-left: 10px;
  margin-left: 20px;

}
.right{
  margin-left: 700px;
  margin-top: -25px;
}
#emoji-btn{
  position: absolute;
  font-size: 1.2rem;
  background: transparent;
  /* right: -10px; */
  /* top: 2px;
  opacity: 0.5; */ 
  margin-right: -450px;
  margin-top: 5px;
}

.login_menu{
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 500px;
}
.login,.sign_up{
  background: rgb(41, 58, 209);
  font-size: 20px;
  outline: none;
  border: none;
  padding: 10px;
  margin-left: 30px;
  
  color: white;
  cursor: pointer;
 
  
}